/*
/*/
!/vbxlib/

*.idea*
*__pycache__*
*vibrobox_logpass*

!/.gitignore
!/README.md

/.env
!/.env.prod
!/docker-compose.yml
!/docker-compose-build-vbox-fc.yml
!/dockerfile_vcloud_fiware_connector_run
!/dockerfile_vbox_fiware_connector_build

!/vbox_fiware_connector.py
!/vcloud_fiware_connector.py
!/vbxlib/fiware_requests.py
!/vbxlib/replace-python-lib-wave.py
!/vbxlib/network.py
!/vbxlib/logging.py

!/notification.sh
!/setup-(win)-python3-libs.sh
!/setup-(linux)-python3-portable.sh
